* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*É o responsável pelo calculo do tamanho total da caixa (box).*/
}
div {
  width: 100px;
  height: 100px;
  border: 1px solid green;
  margin: 10%;
}
/*
section {
  padding: 12px 24px 13px 10px; = top, right, bottom e left
  padding: 12px 24px 0; = top, right & left, bottom
  padding: 12px 24px; = top & bottom, right & left
  padding: 12px; = tudo
}*/
section {
  border-radius: 30px;
  border-right: 20px solid red;
  border-top: 20px solid blue;
  border-left: 20px solid yellow;
  border-bottom: 20px solid green;
  padding: 20vh;
}
